@import '../../../../../src/scss/_variables.scss';

.loader {
  border: 4px solid $main-dark-blue;
  border-top: 4px solid $main-yellow;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
