// Color Pallette taken from https://tailwindcss.com/docs/customizing-colors

$main-yellow: #BF9B2F;
$main-yellow-border: #EBBB2A;

$main-dark-blue: #1A202C;
$secondary-dark-blue: #323E54;

$main-blue: #2E5366;
$secondary-blue: #6E8999;

$gray-100: #F7FAFC;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-500: #A0AEC0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-800: #2D3748;
$gray-900: #1A202C;

$blue-100: #ebf8ff;
$blue-200: #BEE3F8;
$blue-300: #90CDF4;
$blue-400: #63B3ED;
$blue-500: #4299E1;
$blue-600: #3182CE;
$blue-700: #2B6CB0;
$blue-800: #2C5282;
$blue-900: #2A4365;

$red-100: #FFF5F5;
$red-200: #FED7D7;
$red-300: #FEB2B2;
$red-400: #FC8181;
$red-500: #F56565;
$red-600: #E53E3E;
$red-700: #C53030;
$red-800: #9B2C2C;
$red-900: #742A2A;

$orange-100: #FFFAF0;
$orange-200: #FEEBC8;
$orange-300: #FBD38D;
$orange-400: #F6AD55;
$orange-500: #ED8936;
$orange-600: #DD6B20;
$orange-700: #C05621;
$orange-800: #9C4221;
$orange-900: #7B341E;

$yellow-100: #FFFFF0;
$yellow-200: #FEFCBF;
$yellow-300: #FAF089;
$yellow-400: #F6E05E;
$yellow-500: #ECC94B;
$yellow-600: #D69E2E;
$yellow-700: #B7791F;
$yellow-800: #975A16;
$yellow-900: #744210;

$green-100: #F0FFF4;
$green-200: #C6F6D5;
$green-300: #9AE6B4;
$green-400: #68D391;
$green-500: #48BB78;
$green-600: #38A169;
$green-700: #2F855A;
$green-800: #276749;
$green-900: #22543D;
